<%- include('../partials/header') %>
<body class="index">
    <div class="grid-container">
        <% clothes.forEach(function(c) { %>
        <div class="grid-item">
            <p><%= c.name %></p>
            <p>$ <%= c.price %></p>
            <img src="<%= c.image %>" alt="<%= c.name %>">
            <a href="/clothes/<%= c._id %>">DETAILS</a>
        </div>
        <% }); %>
    </div>
</body>
</html>

<%- include('../partials/footer') %>