<%- include('../partials/header') %>

<body class="home">
  <main>
    <div class="content-container">
      <div class="content-inner">
        <div class="content-details">
          <ul>
            <li><strong>Name:</strong> <%= clothes.name %></li>
            <li><strong>Price: $</strong> <%= clothes.price %></li>
            <li><strong>Quantity: X</strong> <%= clothes.qty %></li>
            <li><strong>Description:</strong> <%= clothes.desc %></li>
            <li>
              <a href="/clothes/<%= clothes._id %>/edit">Update THREADS</a>
            </li>

            <form
              action="/clothes/<%= clothes._id %>?_method=DELETE"
              class="delete-form"
              method="POST"
            >
              <button type="submit" class="close-button">X</button>
            </form>
          </ul>
        </div>
      </div>
      <div class="content-image">
        <img src="<%= clothes.image %>" />
      </div>
    </div>

    <%- include('../partials/footer') %>
  </main>
</body>
